<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <h3 class="no-item" *ngIf="loadItems().length === 0">
      No item available on the list!
    </h3>
    </div>
    <ion-list>
      <ion-item-sliding  *ngFor="let item of loadItems(); let i = index;" >
        <ion-item>
          <h2>{{item.name}}</h2>
          <p> </p>
          <p>{{rewards[i].name}}</p>
        </ion-item>
      <ion-item-options>
        <button (click)="seeReward(rewards[i])" ion-button color=" primary" icon-start>
          <ion-icon name="gift"></ion-icon>
          Reward
        </button>
        <button (click)="editItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>

        <button (click)="shareItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="share"></ion-icon>
          Share
        </button>

        <button expand="block" (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Trash
        </button>
      </ion-item-options> 
    </ion-item-sliding>   
</ion-list>

<ion-fab bottom right>
  <button (click)="addItem()" ion-fab mini><ion-icon name="add"></ion-icon></button>
</ion-fab>
  <!--<app-explore-container name="Home"></app-explore-container>-->
</ion-content>
